  .node {
  width: 26px;
  height: 26px;
  outline: 1px solid rgba(25, 120, 161, 0.349);
  margin-top: -1px;
  margin-right: 1px;
  display: inline-block;
}
  
  .node-finish {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: red;
  }
  
  .node-start {
    background-color: rgb(20, 218, 20);
    background-repeat: no-repeat;
    background-size: 25px 25px;
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(7, 7, 255, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(9, 6, 206, 0.842);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(188, 255, 237, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(8, 189, 180, 0.945);
    }
  }
  
  .node-wall {
    background-color: rgb(12, 53, 71);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(219, 119, 26);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgba(255, 255, 2, 0.883);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 255, 0);
    }
  }


  .node-opened {
    animation-name: openedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes openedAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(214, 208, 245);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgba(179, 160, 245, 0.883);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(132, 0, 255);
    }
  }